:root {
  --gree-on-white: #3b4b1b;
  --green-on-green: #1a2700;
  --light-green: #d6e7b6;
  --user-core-green: #596b37;

  --bg-body: #f7f9ef;
  --bg-surface: #ffffff;
  --bg-sidebar: #1e293b;

  --text-main: #0f172a;
  --text-muted: #999999;
  --text-focus: #596b37;

  --border: #3b4b1b;
  --border-lightgreen: #a2b380;
  --border-focus: #596b37;
  --border-muted: #999999;

  --font-sans: Noto Sans, system-ui, -apple-system, sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  background-color: var(--bg-body);
  color: var(--text-main);
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}



.nav-bar{
  background-color: var(--user-core-green);
  display: flex;
  gap: 20px;
}

.logo-user{
  width: 250px;
  height: auto;
  margin: 20px;
}

.go-to-page{
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.go-to-page h3{
  font-size: 1.5em;
  color: var(--bg-body);
}

.wrapper{
  width: max-content;
  margin: 0 auto;
}

.filter{
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 30px;
}

.filter button{
  background-color: var(--bg-body);
  color: var(--text-muted);
  border: 3px solid var(--border-muted);
  border-radius: 10px;
  font-size: 16px;
  padding: 10px 20px;
  width: 190px;
  height: 41px;
}

.event-card{
  display: grid;
  grid-template-columns: repeat(5, 200px);
  gap: 66px;
  margin: 36px 0px 58px;
}

.card img{
  width: 200px;
  height: 260px;
  border-radius: 16px;
  margin-bottom: 0;
}

.card h2{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 22px;
}

.card p{
  margin-top: 0;
  font-size: 14px;
}

.buy-now-btn{
  font-size: 22px;
  width: 200px;
  height: 56px;
  border: 3px solid var(--border-lightgreen);
  border-radius: 30px;
  color: var(--bg-body);
  background-color: var(--gree-on-white);
}

.coming-soon-btn{
  font-size: 22px;
  width: 200px;
  height: 56px;
  border: 3px solid var(--gree-on-white);
  border-radius: 30px;
  color: var(--gree-on-white);
  background-color: var(--bg-body);
}

.sold-out-btn{
  font-size: 22px;
  width: 200px;
  height: 52px;
  border: none;
  border-radius: 30px;
  color: var(--bg-body);
  background-color: #DEDEDE;
}